#root,body,html{
  margin: 0;
  padding: 0;
  background-color: burlywood;
}

.App{
  background-color: burlywood;
  display: flex;
  flex-direction: column;
}
.header{
  display: grid;
  background-color: antiquewhite;
  box-shadow: 0px 5px 5px gray;
  position:relative;
  text-align: center;
  align-items: center;
  
  min-height: 8rem;
}

.Scoreboard{
  position:absolute;
  left: 1rem;
  text-align: center;
}